$o_purple : #6231EC;
$gray : #818181;
$white: #ffffff;
$l-gray: #d3d3d3;

$base: 1rem;

$font_base: $base;
$font_sm: $font_base * 1.125;
$font_md: $font_base * 1.25;

$size_base: $base * 2;
$size_sm: $size_base * .625;
$size_md: $size_base * 1;

$line_height: 105.3%;

//Mixin

@mixin animation($name) {

  //name /duration /cubic /delay /iteration-count /direction
  animation:
    $name
    15s
    cubic-bezier(               
      0.94, -0.35, 0.13, 0.91             
    )
    0s
    infinite
    backwards;
}

//Keyframes

// fade in-out
@keyframes fade-in-out  {
  0%, 65% {
    opacity: 1;
  }

  85%, 90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Select correct answer
@keyframes select {
  0%, 35% {
    background-color: #ffffff;
  }
  
  75%, 100% {
    background-color: $o_purple;
  }
}

// up-down-fade-N
@for $i from 1 to 4 {

  @keyframes up-down-fade-#{$i} {

    0% {
      transform: translateY(80vh);
      opacity: 0
    }

    #{10 + $i * 4%} {
      transform: translateY(0vh);
      opacity: 1
    }

    65% {
      opacity: 1
    }

    85%, 100% {
      opacity: 0;
    }
    
  }
}